details {
  user-select: none;
}

details[close]>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}

details[close]>summary span.open_text {
    display:inline;
}

details[close]>summary span.close_text {
    display:none;
    min-height:300px;
}
details>summary span.close_text {
    display:none;
}

details{
    margin-left:20px
}

details[open] summary span.icon {
  transform: rotate(180deg); translate:(-5px, 5px)
}

details[open]>summary span.open_text {
    display:none;
}

details[open]>summary span.close_text {
    display:inline;
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.graphic {
    width:400px 
}

.diagram{
    width:800px
}

.tabstep{
    width:300px
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-head{
    font-weight:bold;
    text-align:left;
    vertical-align:middle
}
.tg .tg-col{
    border-color:inherit;
    text-align:left;
    vertical-align:middle;
    max-width:300px
}

.tg .tg-link{
    border-color:inherit;
    text-align:left;
    vertical-align:middle
}
