body{
    max-width:1000px;
    margin: 0 auto
}


details {
    margin-left:20px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em .5em;
}

details[close]>summary span.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
}

details[close]>summary span.open_text {
    display:inline;
}

details[close]>summary span.close_text {
    display:none;
    min-height:300px;
}
details>summary span.close_text {
    display:none;
}

details[open] summary span.icon {
  transform: rotate(180deg); translate:(-5px, 5px)
}

details[open]>summary span.open_text {
    display:none;
}

details[open]>summary span.close_text {
    display:inline;
}

summary {
    display: flex;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.graphic {
    width:400px;
    max-width:100%;
}

.graphicwide {
    max-width:100%;
}

.diagram{
    width:800px;
    max-width:100%;
}

.tabstep{
    width:300px
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .tg-head{
    font-weight:bold;
    text-align:left;
    vertical-align:middle
}
.tg .tg-col{
    border-color:inherit;
    text-align:left;
    vertical-align:middle;
    max-width:300px
}

.tg .tg-link{
    border-color:inherit;
    text-align:left;
    vertical-align:middle
}

.code{
    font-family:Courier New;
    background-color:#EEEEEE
}

.icon2{
    width:20px
}

.blackIcon{
    width:20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(182deg) brightness(107%) contrast(105%);
}


pre span {
    display: block;
    line-height: 1.5rem;
    counter-increment: line;
}
